@model IList<InvoiceCqrs.Web.Models.InvoiceViewModel>
@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Balance</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var invoice in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(invoice.InvoiceNumber, "View", new {id = invoice.Id})
            </td>
            <td>@invoice.Balance</td>
            <td>@invoice.CreatedBy.FullName</td>
        </tr>
    }
    </tbody>
</table>

